<div class="container">
  <div class="top">
    <img src="../../../../assets/images/mainbottomBg-small.jpg"  *ngIf="innerWidth > 415;else mobileContainer"/>
    <h1>
      {{ "special-sections.teachers-title" | translate }}
    </h1>
  </div>

  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzSuffix]="suffixCleanButton" nzSize="large">
    <input
      nz-input
      id="input-search"
      [(ngModel)]="filterData.title"
      type="text"
      placeholder="{{ 'special-sections.search-placeholder' | translate }}"
      (keydown.enter)="getArticles()"
    />
  </nz-input-group>

  <div class="content" *ngIf="!loader; else loaderContainer">
    <div *ngIf="listOfArticles.length > 0; else noResults">
      <div class="article" *ngFor="let article of listOfArticles">
        <app-article
          [article]="article"
          (openViewMode)="getArticleItems(article)"
        >
        </app-article>

        <nz-modal
          [(nzVisible)]="isPreviewModalOpen"
          nzTitle="Teachers we are proud of"
          nzWidth="75%"
          (nzOnCancel)="handleCloseViewModal()"
          [nzFooter]="modalFooter"
        >
          <app-view-article [article]="openedArticle"></app-view-article>
        </nz-modal>
      </div>
    </div>

    <nz-pagination
    id="pagination"
    [(nzPageIndex)]="filterData.pageNo"
    [(nzPageSize)]="filterData.pageSize"
    [nzTotal]="totalNo"
    [nzPageSizeOptions]="[5, 10, 15]"
    nzShowSizeChanger
    (nzPageIndexChange)="getArticles()"
    (nzPageSizeChange)="getArticles()"
  ></nz-pagination>
  </div>

  <ng-template #loaderContainer>
    <div class="loader">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </ng-template>
</div>

<ng-template #modalFooter>
  <button
    class="close-btn"
    nz-button
    nzType="default"
    (click)="handleCloseViewModal()"
  >
    Close
  </button>
</ng-template>

<ng-template #noResults>
  <nz-empty [nzNotFoundContent]="contentEmpty"></nz-empty>
</ng-template>

<ng-template #contentEmpty>
  <span> {{ "common.noData" | translate }} </span>
</ng-template>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch (click)="getArticles()">
    <i nz-icon nzType="search"></i>
  </button>
</ng-template>

<ng-template #suffixCleanButton>
  <i
    *ngIf="filterData.title"
    (click)="cleanSearchInput()"
    nz-icon
    nzType="close"
    nzTheme="outline"
    id="clean-btn"
  ></i>
</ng-template>

<ng-template #mobileContainer>
  <div id="mobileContainer"></div>
</ng-template>