<div class="header">
  <ul nz-menu nzMode="horizontal">
    <div class="title">
        <img id="unitbv-img" src="../../../../assets/images/unitbv.png" />
        <span id="title">Newsletter</span>
    </div>

    <div class="menu" *ngIf="isOnViewMode()">
      <div *ngIf="innerWidth > 415; else mobileMenu" class="webMenu">
        <li nz-menu-item [nzSelected]="checkUrl('homepage')">
          <a href="/news/homepage">{{ "header.home-tab" | translate }}</a>
        </li>

        <li nz-menu-item [nzSelected]="checkUrl('current-number')">
          <a href="/news/current-number">{{
            "header.current-number-tab" | translate
          }}</a>
        </li>

        <li nz-menu-item [nzSelected]="checkUrl('archive')">
          <a href="/news/archive"> {{ "header.archive-tab" | translate }}</a>
        </li>

        <li
          nz-submenu
          nzTitle="{{ 'header.special-sections-tab-title' | translate }}"
        >
          <ul>
            <li nz-menu-item [nzSelected]="checkUrl('alumni')">
              <a href="/news/special-sections/alumni">
                {{ "header.special-sections-tab.alumni" | translate }}</a
              >
            </li>
            <li nz-menu-item [nzSelected]="checkUrl('graduates')">
              <a href="/news/special-sections/graduates">
                {{ "header.special-sections-tab.graduates" | translate }}</a
              >
            </li>
            <li nz-menu-item [nzSelected]="checkUrl('teachers')">
              <a href="/news/special-sections/teachers">
                {{ "header.special-sections-tab.teachers" | translate }}</a
              >
            </li>
            <li nz-menu-item [nzSelected]="checkUrl('others')">
              <a href="/news/special-sections/others">
                {{ "header.special-sections-tab.others" | translate }}</a
              >
            </li>
          </ul>
        </li>

        <li nz-menu-item [nzSelected]="checkUrl('contributors')">
          <a href="/news/contributors">
            {{ "header.contributors-tab" | translate }}</a
          >
        </li>

        <li nz-menu-item [nzSelected]="checkUrl('contact')">
          <a href="/news/contact">{{ "header.contact-tab" | translate }}</a>
        </li>
      </div>
    </div>

    <div class="translate-btns" *ngIf="isOnViewMode()">
      <nz-radio-group
        [(ngModel)]="selectedLanguage"
        (ngModelChange)="onLanguageChangeEvent()"
        nzButtonStyle="solid"
      >
        <label nz-radio-button nzValue="ro">
          <span class="flag-icon flag-icon-ro flag-icon-squared"></span>
        </label>
        <label nz-radio-button nzValue="en">
          <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
        </label>
      </nz-radio-group>
    </div>

    <div class="admin-side menu" *ngIf="isOnAdmin()">
      <div class="user">
        <nz-avatar
          nzSize="large"
          nzIcon="user"
          nz-tooltip
          nzTooltipTitle="Edit profile"
          (click)="isViewProfileOpen = true"
        ></nz-avatar>
        {{ user?.firstName }} {{ user?.lastName }}
      </div>

      <div class="logout">
        <button nz-button nzType="default" (click)="logout()">
          <i nz-icon nzType="logout" nzTheme="outline"></i>Log Out
        </button>
      </div>
    </div>
  </ul>
</div>

<!-- New admin  -->
<nz-modal
  [(nzVisible)]="isNewAdminModalVisible"
  nzTitle="Change Password"
  nzWidth="50%"
  nzClosable=false
  [nzFooter]="modalFooter"
>
  <app-change-password
    [user]="user"
    [isNew]="false"
    (close)="closeNewAdminModal($event)"
  ></app-change-password>
</nz-modal>

<!-- Profile drawer  -->
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="isViewProfileOpen"
  nzPlacement="right"
  nzTitle="My Profile"
  (nzOnClose)="isViewProfileOpen = false"
>
  <ng-container *nzDrawerContent>
    <app-profile [user]="user"></app-profile>
    <app-change-password [user]="user" [isNew]="false"></app-change-password>
  </ng-container>
</nz-drawer>

<ng-template #mobileMenu>
  <button
    nz-button
    nzType="primary"
    (click)="this.isCollapsed = !this.isCollapsed"
    id="collapseBtn"
  >
    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>Menu
  </button>

  <div *ngIf="isCollapsed == true">
    <ul nz-menu [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [nzSelected]="checkUrl('homepage')">
        <a href="/news/homepage">{{ "header.home-tab" | translate }}</a>
      </li>

      <li nz-menu-item [nzSelected]="checkUrl('current-number')">
        <a href="/news/current-number">{{
          "header.current-number-tab" | translate
        }}</a>
      </li>

      <li nz-menu-item [nzSelected]="checkUrl('archive')">
        <a href="/news/archive"> {{ "header.archive-tab" | translate }}</a>
      </li>

      <li nz-menu-item [nzSelected]="checkUrl('alumni')">
        <a href="/news/special-sections/alumni">
          {{ "header.special-sections-tab.alumni" | translate }}</a
        >
      </li>
      <li nz-menu-item [nzSelected]="checkUrl('graduates')">
        <a href="/news/special-sections/graduates">
          {{ "header.special-sections-tab.graduates" | translate }}</a
        >
      </li>
      <li nz-menu-item [nzSelected]="checkUrl('teachers')">
        <a href="/news/special-sections/teachers">
          {{ "header.special-sections-tab.teachers" | translate }}</a
        >
      </li>
      <li nz-menu-item [nzSelected]="checkUrl('others')">
        <a href="/news/special-sections/others">
          {{ "header.special-sections-tab.others" | translate }}</a
        >
      </li>

      <li nz-menu-item [nzSelected]="checkUrl('contributors')">
        <a href="/news/contributors">
          {{ "header.contributors-tab" | translate }}</a
        >
      </li>

      <li nz-menu-item [nzSelected]="checkUrl('contact')">
        <a href="/news/contact">{{ "header.contact-tab" | translate }}</a>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #modalFooter> </ng-template>
