ul {
  border-bottom: 2px solid #1d9d73;
}

.title {
  display: flex;
}

.ant-menu-horizontal {
  display: flex;
}

::ng-deep .ant-menu-vertical {
  .ant-menu-item:hover,
  .ant-menu-item-selected {
    width: 100% !important;
  }
}

::ng-deep .ant-menu-sub {
  width: fit-content !important;
}

.ant-menu-submenu-selected {
  border-bottom: 2px solid #1d9d73 !important;
}

.ant-menu-item:hover,
.ant-menu-item-selected {
  color: #1d9d73 !important;
  border-bottom: 2px solid #1d9d73 !important;
  a {
    color: #222222;
  }
}

.ant-menu-item,
.ant-menu-submenu {
  color: #222222;
  line-height: 26px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  display: inline-table;
  align-self: center !important;
}

::ng-deep .ant-menu-submenu-title {
  &:hover {
    color: black !important;
    border-bottom: 2px solid #1d9d73 !important;
  }
}

::ng-deep .ant-menu-submenu-open {
  color: black !important;
}

#unitbv-img {
  width: 12rem;
  margin: 1rem;
}

#title {
  color: #222222;
  line-height: 26px;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin: 2.2rem 0 1rem;
  display: inline-table;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;

  .webMenu {
    align-self: center;
  }
}

.admin-side {
  align-items: center;

  .user {
    margin-right: 2rem;

    nz-avatar {
      background-color: #1d9d738c;
      cursor: pointer;
    }
  }

  .logout {
    button:hover {
      color: #1d9d73;
      border-color: #1d9d73;
    }
  }
}

.translate-btns {
  margin: 0.5rem 1rem 0;
  text-align: end;
  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #1d9d734f;
  }
  .ant-radio-button-wrapper {
    font-size: 17px !important;
    padding: 0 8px !important;
  }
  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: #1d9d73 !important;
  }
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #1d9d73;
  border-color: #1d9d73;
}

@media only screen and (max-width: 415px) {
  .ant-menu-horizontal {
    display: block;
    margin-bottom: 2rem;
  }

  #collapseBtn {
    margin: auto;
    width: inherit;
  }

  #unitbv-img {
    width: 9rem;
    margin: 1rem 0;
  }

  #title{
    font-size: 23px;
  }

  .translate-btns {
    margin-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    .ant-radio-group {
      display: grid !important;
    }
  }

  .menu {
    display: block;
    width: 95vw;
    margin: auto;
  }

  ul {
    border-bottom: 0 !important;
  }

  .ant-menu-inline-collapsed {
    width: auto !important;
  }

  .ant-menu-vertical .ant-menu-item:not(:last-child),
  .ant-menu-vertical-left .ant-menu-item:not(:last-child),
  .ant-menu-vertical-right .ant-menu-item:not(:last-child),
  .ant-menu-inline .ant-menu-item:not(:last-child) {
    display: flex;
    place-content: center;
  }
}
