#login-container {
  display: block;
  text-align: -webkit-center;
  margin-top: 10vh;
  height: 59vh;

  .login-form {
    max-width: 300px;

    i {
      cursor: pointer;
      &:hover {
        color: #1d9d73;
      }
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  .login-form-button {
    margin-top: 1rem;
  }

  .login-form-button {
    width: 100%;
  }
}

#redirect-to-homepage{
  float: right;
  margin-right: 5rem;
  margin-top: -4rem;
  
  &:hover{
    border-color: #1d9d73;
    color: #1d9d73;
  }
}