

<div id="login-container">
  <button
  nz-button
  id="redirect-to-homepage"
  [nzType]="'default'"
  (click)="redirectToHomepage()"
>
  Go to Homepage
</button>

  <h1>Log In</h1>

  <form
    nz-form
    [formGroup]="loginForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password!">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="seePassword">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <ng-template #seePassword>
      <i
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></i>
    </ng-template>

    <button
      nz-button
      class="login-form-button"
      [nzType]="'primary'"
      [disabled]="!loginForm.valid"
    >
    Log In
    </button>
  </form>
</div>
