<div class="article-page">
  <button
    id="add-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="openAddNewArticleModal()"
  >
    <i nz-icon nzType="plus-circle"></i>Add Article
  </button>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Add Article"
    nzWidth="75%"
    (nzOnCancel)="isModalVisible = false"
    (nzOnOk)="saveArticle()"
    [nzFooter]="modalFooter"
  >
    <app-article-form
      [article]="article"
      [labelsList]="labelsList"
      [facultiesList]="facultiesList"
    ></app-article-form>
  </nz-modal>

  <nz-modal
  [(nzVisible)]="isPreviewModalOpen"
  nzTitle="Preview Article"
  nzWidth="75%"
  (nzOnCancel)="isPreviewModalOpen=false"
  [nzFooter]="previewModalFooter"
>
  <app-view-article [article]="article"></app-view-article>
</nz-modal>
</div>

<div class="content">
  <app-article-table
    [labelsList]="labelsList"
    [facultiesList]="facultiesList"
    [reloadTable]="reloadTable"
    (openEditModal)="openEditArticleModal($event)"
    (openPreviewArticle)="openPreviewArticleModal($event)"
  >
</app-article-table>
</div>

<ng-template #modalFooter>
  <button
    nz-button
    nzType="default"
    class="close-btn"
    (click)="isModalVisible = false"
  >
    Cancel
  </button>
  <button nz-button nzType="primary" (click)="saveArticle()" [disabled]="!isFormValid()">
    Save Article
  </button>
</ng-template>

<ng-template #previewModalFooter>
  <button
    class="close-btn"
    nz-button
    nzType="default"
    (click)="isPreviewModalOpen=false"
  >
    Close
  </button>
</ng-template>