<div class="container" *ngIf="collaborator">
  <nz-collapse *ngIf="collaborator.articles && collaborator.articles.length>0; else emptyContainer">
    <nz-collapse-panel
      *ngFor="let article of collaborator.articles; let index; as: index"
      [nzHeader]="collapseHeader"
      [nzActive]="false"
    >
      <p>
        {{ article.description }}
      </p>
      <button nz-button nzType="default" (click)="openArticle(article)" *ngIf="!isOnAdmin()">
        {{"special-sections.view-article" | translate}}
      </button>

      <ng-template #collapseHeader>
        <div class="header">
            <span>{{article.title}}</span>
            <span id="date">{{article.dateOfUpload | date: "dd.MM.yyyy"}}</span>
        </div>
    </ng-template>
    
    </nz-collapse-panel>
  </nz-collapse>
</div>

<ng-template #emptyContainer>
  <nz-empty  [nzNotFoundContent]="content" ></nz-empty>
</ng-template>
<ng-template #content>
  <span> {{ "common.noData" | translate }}  </span>
</ng-template>
