.container {
  p {
    margin: 0;
  }

  button {
    float: right;
    margin-top: 1rem;

    &:hover, &:focus {
      color: #1d9d73;
      border-color: #1d9d73;
    }
  }

  .header{
      #date{
          float: right;
          color: #777777;
      }
  }
}

::ng-deep .ant-collapse-content > .ant-collapse-content-box {
  height: fit-content !important;
  margin-bottom: 3rem !important;
}
