.container {
  .top {
    img {
      width: 100%;
    }
    h1 {
      position: relative;
      margin-top: -6rem;
      left: 50%;
      text-align: -webkit-center !important;
      font-size: 38px;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    margin-top: -1rem;
    padding: 2rem 5rem;
    background-color: #e0e1d9;

    .archive-item {
      background-color: white;
      margin: 1rem;
      border: 1px solid #afafaf;
      padding: 2rem 2rem 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .select-year {
      position: relative;
      margin-right: 1rem;
      margin-top: -3rem;
      float: right;
      display: grid;
      font-size: 15px;
    }
  }
}

.loader {
  text-align: center;
  margin-bottom: 10rem;
  padding: 8rem;
  margin: 20px 0;
}

.ant-empty{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 415px){
  .content{
    padding: 2rem 0rem !important;
  }

  #mobileContainer{
    height: 40vw;
    background-color: #DEE0D7;
  }
}
