<div class="container">
  <div class="top">
    <img src="../../../../../assets/images/mainbottomBg-small.jpg"  *ngIf="innerWidth > 415;else mobileContainer" />
    <h1>
      {{ "header.archive-tab" | translate }}
    </h1>
  </div>

  <div class="content" *ngIf="loader == false; else loaderContainer">
    <div class="select-year">
      <label>{{ "archive.show-from-year" | translate }}</label>
      <nz-select [(ngModel)]="selectedYear" (ngModelChange)="getListOfNewsletters()">
        <nz-option
          *ngFor="let option of yearsList"
          [nzValue]="option"
          [nzLabel]="option"
        ></nz-option>
      </nz-select>
    </div>

    <div class="archive-container" *ngIf="newsletterArchive.length > 0;else emptyContainer">
      <div class="archive-item" *ngFor="let item of newsletterArchive">
        <app-news-item [item]="item"> </app-news-item>
      </div>
    </div>

    <ng-template #emptyContainer>
      <nz-empty  [nzNotFoundContent]="content" ></nz-empty>
    </ng-template>
    <ng-template #content>
      <span> {{ "common.noData" | translate }}  </span>
    </ng-template>

  </div>

  <ng-template #loaderContainer>
    <div class="loader">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </ng-template>
</div>

<ng-template #mobileContainer>
  <div id="mobileContainer"></div>
</ng-template>