.admins-page {
    height: 0;
  }
  
  #add-btn {
    top: 25rem;
    position: relative;
    left: -15.5rem;
    width: 11.5rem;
  
    &:active,
    &:focus {
      background-color: #1d9d73;
    }
  }