<div class="admins-page">
  <button
  *ngIf="isSuperAdmin()"
    id="add-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="openAddAdminModal()"
  >
    <i nz-icon nzType="plus-circle"></i>Add Admin
  </button>

  <nz-modal
    [(nzVisible)]="isAddAdminModalVisible"
    nzTitle="Add Admin"
    nzWidth="75%"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="registerAdmin()"
    [nzFooter]="modalFooter"
  >
    <app-admin-form [admin]="admin"></app-admin-form>
  </nz-modal>
</div>

<div class="content">
  <app-admin-table [reloadTable]="reloadTable"> </app-admin-table>
</div>

<ng-template #modalFooter>
  <button nz-button nzType="default" class="close-btn" (click)="handleCancel()">
    Cancel
  </button>
  <button nz-button nzType="primary" (click)="registerAdmin()" [disabled]="!isFormValid()">
    Save Admin
  </button>
</ng-template>
