i {
  font-size: 18px;
  margin-right: 1rem;
  cursor: pointer;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

#author {
  display: flow-root;
  white-space: break-spaces;
}

.ant-table-wrapper{
  margin-bottom: 3rem;
}

.ant-pagination{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}