<nz-table
  [nzData]="listOfArticles"
  [nzFrontPagination]="false"
  [nzLoading]="loader"
>
  <thead>
    <tr>
      <th nzCustomFilter>
        Title
        <nz-filter-trigger
          [(nzVisible)]="isTitleSearchVisible"
          [nzActive]="filterData.title.length > 0"
          [nzDropdownMenu]="searchTitle"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>

      <th>Author</th>
      <th>Function and Faculty</th>
      <th>Special Section</th>
      <th>Date of</th>
      <th>Is Posted</th>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let article of listOfArticles">
      <td>{{ article.title }}</td>
      <td id="author">
        <span class="" *ngFor="let label of article.collaborator?.labelsId">
          {{ getLabelNameById(label) }}
        </span>
        <span>{{ article.collaborator?.firstName }}
          {{ article.collaborator?.lastName }}</span>
        
      </td>
      <td>
        {{ article.collaborator?.function }}
        {{ getFacultyByName(article.collaborator?.facultyId) }}
      </td>
      <td>
        <span *ngIf="article.specialSection == 'alumni'"
          >Successful alumni</span
        >
        <span *ngIf="article.specialSection == 'graduates'"
          >Successful graduates</span
        >
        <span *ngIf="article.specialSection == 'teachers'"
          >Teachers we are proud of</span
        >
        <span *ngIf="article.specialSection == 'others'"
          >Others categories</span
        >
      </td>

      <td>{{ article.dateOfUpload | date: "dd.MM.yyyy" }}</td>
      <td>
        <nz-switch
          [(ngModel)]="article.isPosted"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
          (click)="changeIsPosted(article.id)"
        ></nz-switch>
      </td>
      <td>
        <button
          nz-button
          nzSize="small"
          nzType="default"
          (click)="previewArticle(article)"
        >
          Preview article
        </button>
      </td>
      <td>
        <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Delete article"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this article?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteArticleById(article.id)"
        ></i>
        <i
          nz-icon
          nzType="edit"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Edit article"
          (click)="editArticle(article)"
        ></i>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-pagination
  id="pagination"
  [(nzPageIndex)]="filterData.pageNo"
  [(nzPageSize)]="filterData.pageSize"
  [nzTotal]="totalNo"
  [nzPageSizeOptions]="[5, 10, 15]"
  nzShowSizeChanger
  (nzPageIndexChange)="getListOfArticoles()"
  (nzPageSizeChange)="getListOfArticoles()"
></nz-pagination>

<nz-dropdown-menu #searchTitle="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search by title"
        [(ngModel)]="filterData.title"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByTitle()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<ng-template #checkedTemplate>Yes</ng-template>
<ng-template #unCheckedTemplate>No</ng-template>
