.container {
  margin-bottom: 4rem;

  #title {
    margin-bottom: 2rem;
  }

  #date {
    float: right;
    margin-top: -2rem;
  }

  .author {
    float: right;
    font-weight: 500;
    white-space: break-spaces;
  }

  .content {
    .item {
      margin-bottom: 2rem;
    }

    .photo {
      text-align-last: center;

      .single-img {
        height: 20rem;
      }
    }

    .text-photo,
    .photo-text {
      display: flex;
      align-items: center;

      .small-img {
        width: 20rem;
      }
    }

    .text-photo {
      img {
        margin-left: 3rem;
      }
    }

    .photo-text {
      img {
        margin-right: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  img {
    height: auto !important;
    width: 78vw;
    margin: 0 !important;
  }

  .text-photo,
  .photo-text {
    display: block !important;
  }
}
