<div class="container" *ngIf="article">
  <h1 id="title">{{ article.title }}</h1>
  <span id="date">{{ article.dateOfUpload | date: "dd.MM.yyyy" }}</span>

  <div class="content">
    <div class="item" *ngFor="let item of article.articleItemsDTO">
      <div class="text" *ngIf="item?.type == 'text'">
        <p>{{ item.contentText }}</p>
      </div>

      <div class="photo" *ngIf="item?.type == 'photo'">
        <img class="single-img" [src]="item.contentImage" />
      </div>

      <div class="text-photo" *ngIf="item?.type == 'text-photo'">
        <p>{{ item.contentText }}</p>
        <img class="small-img" [src]="item.contentImage" />
      </div>

      <div class="photo-text" *ngIf="item?.type == 'photo-text'">
        <img class="small-img" [src]="item.contentImage" />
        <p>{{ item.contentText }}</p>
      </div>
    </div>
  </div>

  <div class="author" *ngIf="article.collaborator?.labelsId">
    <div class="item">
      <span *ngFor="let label of article.collaborator?.labelsId">
        {{ getLabelNameById(label) }}
      </span>
      <span>
        {{ article.collaborator?.firstName }}
        {{ article.collaborator?.lastName }}
      </span>
    </div>
    <div class="item">
      <span>
        {{ article.collaborator?.function }}
      </span>
      <span>
        {{ getFacultyNameById(article.collaborator?.facultyId) }}
      </span>
    </div>
  </div>
</div>
