<form nz-form [formGroup]="contactForm">
  <h2>{{ "contact.info-message" | translate }}<br /><br /><br /></h2>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">{{
      "contact.firstName-label" | translate
    }}</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzSpan]="18"
      nzErrorTip="{{ 'contact.firstName-error' | translate }}"
    >
      <input
        nz-input
        [ngModel]="''"
        formControlName="firstName"
        name="first-name"
        required
        placeholder="{{ 'contact.firstName-placeholder' | translate }}"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">{{
      "contact.lastName-label" | translate
    }}</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzSpan]="18"
      nzErrorTip="{{ 'contact.lastName-error' | translate }}"
    >
      <input
        nz-input
        [ngModel]="''"
        formControlName="lastName"
        name="last-name"
        required
        placeholder="{{ 'contact.lastName-placeholder' | translate }}"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">{{
      "contact.email-label" | translate
    }}</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzSpan]="18"
      nzErrorTip="{{ 'contact.email-error' | translate }}"
    >
      <input
        nz-input
        [ngModel]="''"
        formControlName="email"
        name="email"
        pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
        required
        placeholder="{{ 'contact.email-placeholder' | translate }}"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">{{
      "contact.subject-label" | translate
    }}</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzSpan]="18"
      nzErrorTip="{{ 'contact.subject-error' | translate }}"
    >
      <input
        nz-input
        [ngModel]="''"
        formControlName="subject"
        name="subject"
        required
        placeholder="{{ 'contact.subject-placeholder' | translate }}"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">{{
      "contact.description-label" | translate
    }}</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzSpan]="18"
      nzErrorTip="{{ 'contact.description-error' | translate }}"
    >
      <nz-textarea-count [nzMaxCharacterCount]="50">
        <textarea
          formControlName="description"
          formControlName="description"
          nz-input
          rows="5"
          minlength="50"
          placeholder="{{ 'contact.description-placeholder' | translate }}"
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    class="send-form-button"
    [nzType]="'primary'"
    [disabled]="!contactForm.valid"
    (click)="sendContactForm()"
  >
    {{ "contact.send-btn" | translate }}
  </button>
</form>
