form {
  margin: 3rem 3rem 5rem;
  h3 {
    margin-left: 4rem;
  }

  button {
    margin-right: 1rem;
    float: right;
  }
}

@media only screen and (max-width: 415px){
    form{
        margin: 2rem 2rem 5rem;
    }

    h2{
        height: 3rem;
    }
}