

<div class="newsletters-page">
  <button
    id="add-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="openAddNewNewsletterModal()"
  >
    <i nz-icon nzType="plus-circle"></i>Add Newsletter
  </button>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Newsletter"
    nzWidth="75%"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="saveNewsletter()"
    [nzFooter]="modalFooter"
  >
    <app-newsletter-form [newsletter]="newsletter"></app-newsletter-form>
  </nz-modal>
</div>

<div class="content">
  <app-newsletter-table 
  [reloadTable]="reloadTable"
  (openEditModal)="openEditArticleModal($event)">
  </app-newsletter-table>
</div>

<ng-template #modalFooter>
  <button nz-button nzType="default" class="close-btn" (click)="handleCancel()">
    Cancel
  </button>
  <button nz-button nzType="primary" (click)="saveNewsletter()" [disabled]="!isFormValid()">
    Save Newsletter
  </button>
</ng-template>
