<ul nz-menu nzMode="vertical">
  <li id="tab-menu" nz-menu-item nzDisabled>
    <i nz-icon nzType=""></i>
    MENU
  </li>

  <li nz-menu-item [nzSelected]="selectedIndex == 1" (click)="selectTab(1)">
    <i nz-icon nzType="right" nzTheme="outline"></i>
    Admins
  </li>

  <li nz-menu-item [nzSelected]="selectedIndex == 2" (click)="selectTab(2)">
    <i nz-icon nzType="right" nzTheme="outline"></i> Subscribers
  </li>

  <li nz-menu-item [nzSelected]="selectedIndex == 3" (click)="selectTab(3)">
    <i nz-icon nzType="right" nzTheme="outline"></i> Collaborators
  </li>

  <li nz-menu-item [nzSelected]="selectedIndex == 4" (click)="selectTab(4)">
    <i nz-icon nzType="right" nzTheme="outline"></i> Newsletters
  </li>

  <li nz-menu-item [nzSelected]="selectedIndex == 5" (click)="selectTab(5)">
    <i nz-icon nzType="right" nzTheme="outline"></i> Articles
  </li>

  <li nz-menu-item [nzSelected]="selectedIndex == 6" (click)="selectTab(6)">
    <i nz-icon nzType="right" nzTheme="outline"></i>
    Suggestions<nz-badge [nzCount]="noOfNewSuggestions"> </nz-badge>
  </li>
</ul>
