.ant-menu{
    width: 11.5rem;
    margin: 3rem 1rem 26vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    #tab-menu{
      background-color: #1D9D73;
      color: white !important;
      cursor: context-menu;
      font-size: 17px;
    }
  }
  
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #1d9d7342;
  }
  
  .ant-menu-item-selected{
    color: black;
  }
  
  .ant-menu-item:hover{
    color: #1D9D73;
  }

  nz-badge{
    margin-left: 0.3rem;
  }