<nz-table
  [nzData]="listOfNewsletter"
  [nzFrontPagination]="false"
  [nzLoading]="loader"
>
  <thead>
    <tr>
      <th>Edition Date</th>
      <th>Description</th>
      <th>Date Of Upload</th>
      <th>Current Number</th>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let newsletter of listOfNewsletter">
      <td>{{ newsletter.editionDate | date: "MMM y" }}</td>
      <td>
        <div class="description">
          {{ newsletter.description }}
        </div>
      </td>
      <td>{{ newsletter.dateOfUpload | date: "dd.MM.yyyy" }}</td>
      <td>
        <nz-switch
          [ngModel]="newsletter.isCurrent"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
          [disabled]="newsletter.isCurrent == true"
          (click)="changeIsCurrent(newsletter.id)"
        ></nz-switch>
      </td>
      <td>
        <button
          nz-button
          nzSize="small"
          nzType="default"
          (click)="openNewsletter(newsletter.url)"
        >
          Preview newsletter
        </button>
      </td>
      <td>
        <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Delete newsletter"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this newsletter?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteNewsletterById(newsletter.id)"
          *ngIf="newsletter.isCurrent==false"
        ></i>
        <i
          nz-icon
          nzType="edit"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Edit newsletter"
          (click)="editNewsletter(newsletter.id)"
        ></i>
      </td>
    </tr>

  </tbody>
</nz-table>

<nz-pagination
  id="pagination"
  [(nzPageIndex)]="filterData.pageNo"
  [(nzPageSize)]="filterData.pageSize"
  [nzTotal]="totalNo"
  [nzPageSizeOptions]="[5, 10, 15]"
  nzShowSizeChanger
  (nzPageIndexChange)="getNewsletters()"
  (nzPageSizeChange)="getNewsletters()"
></nz-pagination>

<ng-template #checkedTemplate>Yes</ng-template>
<ng-template #unCheckedTemplate>No</ng-template>
