.collaborators-page {
  height: 0;

  #add-btn {
    top: 25rem;
  }

  #manage-labels-btn {
    top: 25.5rem;
  }

  #manage-faculties-btn {
    top: 26rem;
  }

  .buttons {
    display: grid;
  }

  button {
    position: relative;
    left: -15.5rem;
    width: 11.5rem;

    &:active,
    &:focus {
      background-color: #1d9d73;
    }
  }
}
