<div class="collaborators-page">
  <div class="buttons">
    <button
      id="add-btn"
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="openAddNewCollaboratorModal()"
    >
      <i nz-icon nzType="plus-circle"></i>Add Collaborator
    </button>

    <button
      id="manage-labels-btn"
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="isLabelsModalVisible = true"
    >
      <i nz-icon nzType="form"></i>Manage Labels
    </button>

    <button
      id="manage-faculties-btn"
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="isFacultiesModalVisible = true"
    >
      <i nz-icon nzType="form"></i>Manage Faculties
    </button>
  </div>

  <!-- Collaborators modal  -->
  <nz-modal
    [(nzVisible)]="isCollaboratorsModalVisible"
    nzTitle="Add Collaborator"
    nzWidth="75%"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="saveCollaborator()"
    [nzFooter]="modalFooter"
  >
    <app-collaborator-form
      [collaborator]="collaborator"
      [collaboratorLabels]="collaboratorLabels"
      [listOfFaculties]="facultiesList"
    ></app-collaborator-form>
  </nz-modal>

  <!-- Labels modal  -->
  <nz-modal
    [(nzVisible)]="isLabelsModalVisible"
    nzTitle="Manage Labels"
    nzWidth="40%"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="simpleModalFooter"
  >
    <app-manage-labels [labelsList]="collaboratorLabels"></app-manage-labels>
  </nz-modal>

  <!-- Faculties modal  -->
  <nz-modal
    [(nzVisible)]="isFacultiesModalVisible"
    nzTitle="Manage Faculties"
    nzWidth="40%"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="simpleModalFooter"
  >
    <app-manage-faculties
      [facultiesList]="facultiesList"
    ></app-manage-faculties>
  </nz-modal>
</div>

<!-- Table  -->
<div class="content">
  <app-collaborator-table
    [reloadTable]="reloadTable"
    [collaboratorLabels]="collaboratorLabels"
    [facultiesList]="facultiesList"
    (openEditModal)="openEditCollaboratorModal($event)"
  ></app-collaborator-table>
</div>

<ng-template #modalFooter>
  <button nz-button nzType="default" class="close-btn" (click)="handleCancel()">
    Cancel
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="saveCollaborator()"
    [disabled]="!isFormValid()"
  >
    Save Collaborator
  </button>
</ng-template>

<ng-template #simpleModalFooter>
  <button nz-button nzType="default" class="close-btn" (click)="handleCancel()">
    Cancel
  </button>
</ng-template>
