<div class="container" *ngIf="admin">
  <h3>Admin Details</h3>
  <hr />

  <div class="details">
    <div class="item">
      <label>First Name:<span class="redLabel">*</span></label>
      <input nz-input placeholder="First Name:" [(ngModel)]="admin.firstName" />
    </div>

    <div class="item">
      <label>Last Name:<span class="redLabel">*</span></label>
      <input nz-input placeholder="First Name:" [(ngModel)]="admin.lastName" />
    </div>

    <div class="item">
      <label>Phone number:<span class="redLabel">*</span></label>
      <input
        nz-input
        placeholder="Phone number:"
        [(ngModel)]="admin.phoneNumber"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        maxlength="10"
      />
    </div>
  </div>

  <div class="details">
    <div class="item">
      <label>Email:<span class="redLabel">*</span></label>
      <input nz-input placeholder="Email:" [(ngModel)]="admin.email" />
    </div>

    <div class="item">
      <label>Password:<span class="redLabel">*</span></label>
      <nz-input-group [nzSuffix]="seePassword">
        <input
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Password:"
          [(ngModel)]="admin.password"
        />
      </nz-input-group>
    </div>

    <div class="item">
      <label>Role:</label>
      <input nz-input placeholder="Role:" disabled [(ngModel)]="admin.role" />
    </div>
  </div>
</div>

<ng-template #seePassword>
  <i
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
  ></i>
</ng-template>
