.details {
  display: flex;
  .item {
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: grid;
  }
}

input {
  width: 20vw;
}

nz-input-group{
  width: 20vw;
}

.item {
  margin-bottom: 1rem;
  display: grid;
}

.ant-input[disabled] {
  color: black;
}
