<div class="container">
    <h3>Existing Tags:</h3>
  <div class="details scroll">
    <div class="tag" *ngFor="let tag of labelsList; let index = index">
      <p>
        <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Delete tag"
          (click)="deleteTag(index, tag.id)"
        ></i>
        <span>{{ tag.name }}</span>
      </p>
    </div>
  </div>

  <h3>Add a new Tag:</h3>
  <div class="details">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input
        type="text"
        [(ngModel)]="newTag"
        nz-input
        placeholder="Tag name:"
        (keyup.enter)="addTag()"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        nz-button
        nzType="primary"
        nzSearch
        (click)="addTag()"
        [disabled]="!newTag"
      >
        Add
      </button>
    </ng-template>
  </div>
</div>
