<div class="content" *ngIf="user">
  <h3>Profile Details:</h3>

  <div class="item">
    <label>First Name:</label>
    <nz-input-group>
      <input
        nz-input
        placeholder="Input first name"
        [(ngModel)]="user.firstName"
      />
    </nz-input-group>
  </div>

  <div class="item">
    <label>Last Name:</label>
    <nz-input-group>
      <input
        nz-input
        placeholder="Input last name"
        [(ngModel)]="user.lastName"
      />
    </nz-input-group>
  </div>

  <div class="item">
    <label>Email:</label>
    <nz-input-group>
      <input nz-input placeholder="Input email" [(ngModel)]="user.email" />
    </nz-input-group>
  </div>

  <div class="item">
    <label>Phone number:</label>
    <nz-input-group>
      <input
        nz-input
        placeholder="Input phone number"
        [(ngModel)]="user.phoneNumber"
      />
    </nz-input-group>
  </div>

  <button
    id="updateProfile-btn"
    nz-button
    nzType="primary"
    (click)="updateProfile()"
  >
    Update Profile
  </button>
</div>
