<div class="content">
  <app-admin-menu
    [noOfNewSuggestions]="noOfNewSuggestions"
    (selectedTab)="selectTab($event)"
  ></app-admin-menu>

  <div class="container">
    <div class="table" *ngIf="selectedIndex == 1">
      <app-admins-page></app-admins-page>
    </div>

    <div class="table" *ngIf="selectedIndex == 2">
      <app-subscribers-page></app-subscribers-page>
    </div>

    <div class="table" *ngIf="selectedIndex == 3">
      <app-collaborators-page></app-collaborators-page>
    </div>

    <div class="table" *ngIf="selectedIndex == 4">
      <app-newsletters-page></app-newsletters-page>
    </div>

    <div class="table" *ngIf="selectedIndex == 5">
      <app-articles-page></app-articles-page>
    </div>

    <div class="table" *ngIf="selectedIndex == 6">
      <app-suggestions-page></app-suggestions-page>
    </div>
  </div>
</div>
