.content{
  display: flex;
  background-color: #E0E2D5;

  .container{
    width: -webkit-fill-available;
    margin: 3rem 3rem 6rem 3rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
  }
}