.details {
  display: flex;
  .item {
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: grid;

    #select-labels{
        width: 25vw;
    }
  }
}

nz-select {
  width: 25vw;
  mz-option-item {
    width: 25vw !important;
  }
}

input {
  width: 16vw;
}

.item {
    margin-bottom: 1rem;
    display: grid;
}


#image-input{
    width: 100%;
}