<div class="container" *ngIf="collaborator">
  <h3>Collaborator Details</h3>
  <hr />

  <div class="details">
    <div class="item">
      <label>First Name:<span class="redLabel">*</span></label>
      <input
        nz-input
        placeholder="First Name:"
        [(ngModel)]="collaborator.firstName"
      />
    </div>

    <div class="item">
      <label>Last Name:<span class="redLabel">*</span></label>
      <input
        nz-input
        placeholder="First Name:"
        [(ngModel)]="collaborator.lastName"
      />
    </div>

    <div class="item">
      <label>Email:<span class="redLabel">*</span></label>
      <input nz-input placeholder="Email:" [(ngModel)]="collaborator.email" />
    </div>

    <div class="item">
      <label>Phone number:<span class="redLabel">*</span></label>
      <input
        nz-input
        placeholder="Phone number:"
        [(ngModel)]="collaborator.phoneNumber"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        maxlength="10"
      />
    </div>
  </div>

  <div class="details">
    <div class="item">
      <label>Function:<span class="redLabel">*</span></label>
      <input
        nz-input
        placeholder="Function:"
        [(ngModel)]="collaborator.function"
      />
    </div>

    <div class="item">
      <label>Faculty:<span class="redLabel">*</span></label>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Faculty of..."
        [(ngModel)]="collaborator.facultyId"
      >
      <nz-option
      *ngFor="let item of listOfFaculties"
      [nzLabel]="item.name"
      [nzValue]="item.id"
    ></nz-option>
      </nz-select>
    </div>

    <div class="item">
      <label>Labels:<span class="redLabel">*</span></label>
      <nz-select
      id="select-labels"
        [nzMaxTagCount]="4"
        [nzMaxTagPlaceholder]="labelPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select author labels"
        [(ngModel)]="collaborator.labelsId"
      >
        <nz-option
          *ngFor="let item of collaboratorLabels"
          [nzLabel]="item.name"
          [nzValue]="item.id"
        ></nz-option>
      </nz-select>

      <ng-template #labelPlaceHolder>
        A maximum of 4 labels are accepted.
      </ng-template>
    </div>
  </div>

    <div class="item">
      <label>Image URL:</label>
      <input
        id="image-input"
        nz-input
        placeholder="Insert image URL: "
        [(ngModel)]="collaborator.photoUrl"
      />
      <img
        *ngIf="collaborator.photoUrl"
        nz-image
        width="200px"
        [nzSrc]="collaborator.photoUrl"
        nzFallback="../../../../../../assets/images/no-img.png"
        alt=""
      />
    </div>

    <div class="item">
      <label>Description:<span class="redLabel">*</span></label>
      <textarea
        rows="4"
        nz-input
        [(ngModel)]="collaborator.description"
        placeholder="Insert short description: "
      ></textarea>
    </div>
  </div>
