i {
  font-size: 18px;
  margin-right: 1rem;
  cursor: pointer;
}

.loader {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.description {
  overflow: auto;
  max-height: 7rem;
}

::ng-deep .ant-popover{
    max-width: 50vw !important;
    float: right !important;
}

img{
    margin-top: 1rem;
    width: 12vw;
}

.photo{
    margin-top: 2rem;
}

.labels{
  margin: 0.3rem;
  text-align: -webkit-center;
}

.ant-table-wrapper{
  margin-bottom: 3rem;
}

.ant-pagination{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}