<nz-table
  [nzData]="listOfCollaborators"
  [nzFrontPagination]="false"
  [nzLoading]="loader"
>
  <thead>
    <tr>
      <th nzCustomFilter>
        Name
        <nz-filter-trigger
          [(nzVisible)]="isSearchByNameVisible"
          [nzActive]="filterData.name.length > 0"
          [nzDropdownMenu]="nameSearch"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>

      <th>Email</th>
      <th>Phone Number</th>
      <th>Function</th>
      <th>Faculty</th>
      <th>Labels</th>
      <th>Details</th>
      <th>View Articles</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let collaborator of listOfCollaborators">
      <td>{{ collaborator.firstName }} {{ collaborator.lastName }}</td>
      <td>{{ collaborator.email }}</td>
      <td>{{ collaborator.phoneNumber }}</td>
      <td>{{ collaborator.function }}</td>
      <td>{{ getFacultyName(collaborator.facultyId) }}</td>
      <td>
        <div class="labels" *ngFor="let label of collaborator.labelsId">
          <nz-tag [nzColor]="'cyan'"> {{ getLabelName(label) }}</nz-tag>
        </div>
      </td>
      <td>
        <button
          nz-popover
          nzType="primary"
          nzPopoverTitle="Title"
          nzPopoverContent="Content"
          nz-button
          nzSize="small"
          nzType="default"
          nz-popover
          nzPopoverTitle="Details"
          nzPopoverTrigger="click"
          [nzPopoverContent]="detailsContent"
        >
          See Details
        </button>
        <ng-template #detailsContent>
          <div class="description" *ngIf="collaborator.description">
            <h3>Description:</h3>
            {{ collaborator.description }}
          </div>
          <div class="photo" *ngIf="collaborator.photoUrl">
            <h3>Collaborator photo:</h3>
            <img [src]="collaborator.photoUrl" />
          </div>
        </ng-template>
      </td>
      <td>
        <button
          nz-button
          nzSize="small"
          nzType="default"
          (click)="viewArticles(collaborator)"
        >
          View Articles
        </button>
      </td>
      <td>
        <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Delete article"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this collaborator?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteCollaboratorById(collaborator.id)"
        ></i>
        <i
          nz-icon
          nzType="edit"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Edit collaborator"
          (click)="editCollaborator(collaborator.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  nzWidth="50%"
  [(nzVisible)]="isPreviewModalOpen"
  nzTitle="Articles {{ openedCollaborator?.firstName }} {{
    openedCollaborator?.lastName
  }}"
  (nzOnCancel)="handleClosePreviewModal()"
  [nzFooter]="modalFooter"
>
  <app-contributor-articles
    [collaborator]="openedCollaborator"
  ></app-contributor-articles>
</nz-modal>

<nz-pagination
  id="pagination"
  [(nzPageIndex)]="filterData.pageNo"
  [(nzPageSize)]="filterData.pageSize"
  [nzTotal]="totalNo"
  [nzPageSizeOptions]="[5, 10, 15]"
  nzShowSizeChanger
  (nzPageIndexChange)="getCollaborators()"
  (nzPageSizeChange)="getCollaborators()"
></nz-pagination>

<ng-template #checkedTemplate>Yes</ng-template>
<ng-template #unCheckedTemplate>No</ng-template>

<nz-dropdown-menu #nameSearch="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search by first name"
        [(ngModel)]="filterData.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByName()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetSearch('firstName')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<ng-template #modalFooter>
  <button
    class="close-btn"
    nz-button
    nzType="default"
    (click)="handleClosePreviewModal()"
  >
    Close
  </button>
</ng-template>
