.container {
  position: relative;
  text-align: center;

  .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
}

img {
  width: 100%;
}

@media only screen and (max-width: 415px){
  img{
    width: 175%;
    margin-left: -75vw;
  }
}


