<div class="item">
    <h2>{{itemTitle}}</h2>
    <p id="featured">{{ "archive.featured" | translate }}</p>
    <p id="description">{{item?.description}}</p>
    <a href="{{item?.url}}" target="_blank">{{ "common.more" | translate }}</a>
</div>

