.container {
  .details {
    margin-bottom: 3rem;

    .tag {
      margin-left: 3rem;
      i {
        cursor: pointer;
        margin-right: 1.5rem;
      }
    }

    nz-input-group {
      margin-left: 3rem;
    }

    ::ng-deep .ant-input-group {
      width: 80% !important;
    }
  }
}

.scroll {
  max-height: 22vh;
  overflow: auto;
}

button:active {
  background-color: #1d9d73;
  background-color: #1d9d73;
}
