<div class="container">
    <h3>Existing Faculties:</h3>
    <div class="details scroll">
      <div class="tag" *ngFor="let faculty of facultiesList; let index = index">
        <p>
          <i
            nz-icon
            nzType="delete"
            nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="Delete faculty"
            (click)="deleteFaculty(index, faculty.id)"
          ></i>
          <span>{{ faculty.name }}</span>
        </p>
      </div>
    </div>
  
    <h3>Add a new Faculty:</h3>
    <div class="details">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input
          type="text"
          [(ngModel)]="newFaculty"
          nz-input
          placeholder="Faculty name:"
          (keyup.enter)="addFaculty()"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button
          nz-button
          nzType="primary"
          nzSearch
          (click)="addFaculty()"
          [disabled]="!newFaculty"
        >
          Add
        </button>
      </ng-template>
    </div>
  </div>
  