.container {
  .top {
    img {
      width: 100%;
    }
    h1 {
      position: relative;
      text-align: -webkit-center !important;
      margin-top: -6rem;
      left: 50%;
      font-size: 38px;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    margin-top: -3rem;
    padding: 2rem 5rem;
    background-color: #e0e1d9;

    .contributors {
      margin-top: 4rem;
      margin-bottom: 5rem;
    }

    .volunteer-item {
      background-color: white;
      margin: 1rem;
      border: 1px solid #afafaf;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .ant-input-group-wrapper {
      width: 30%;
      float: right;
      margin-right: 2rem;
    }

    .pagination {
      float: right;
      margin-right: 1rem;
      margin-top: -3rem;
    }
  }
}

.loader {
  text-align: center;
  margin-bottom: 10rem;
  padding: 8rem;
  margin: 20px 0;
}

#clean-btn{
  color: gray;
}

.ant-empty{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 415px){
  .content{
    padding: 2rem 0rem !important;
  }

  nz-input-group{
    width: 83% !important;
  }

  #mobileContainer{
    height: 40vw;
    background-color: #DEE0D7;
  }

  ::ng-deep .ant-modal {
    width: 90% !important;
  }
}
