<div class="container">
  <div class="top">
    <img src="../../../../assets/images/mainbottomBg-small.jpg"  *ngIf="innerWidth > 415;else mobileContainer"/>
    <h1>
      {{ "contributors.title" | translate }}
    </h1>
  </div>

  <div class="content" *ngIf="loader == false; else loaderContainer">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzSuffix]="suffixCleanButton" nzSize="large">
      <input
        nz-input
        id="input-search"
        [(ngModel)]="filterData.name"
        type="text"
        placeholder="{{ 'contributors.search-placeholder' | translate }}"
        (keydown.enter)="getVolunteersList()"
      />
    </nz-input-group>

    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>

    <ng-template #suffixCleanButton>
      <i
        *ngIf="filterData.name"
        (click)="cleanSearchInput()"
        nz-icon
        nzType="close"
        nzTheme="outline"
        id="clean-btn"
      ></i>
    </ng-template>

    <div class="contributors" *ngIf="contributorsList.length>0; else emptyContainer">
      <div class="volunteer-item" *ngFor="let collaborator of contributorsList">
        <app-profile
          [collaborator]="collaborator"
          [collaboratorLabels]="collaboratorLabels"
          [facultiesList]="facultiesList"
        >
        </app-profile>
      </div>
    </div>

    <ng-template #emptyContainer>
      <nz-empty  [nzNotFoundContent]="content" ></nz-empty>
    </ng-template>
    <ng-template #content>
      <span> {{ "common.noData" | translate }}  </span>
    </ng-template>

    <div class="pagination">
      <nz-pagination
        id="pagination"
        [(nzPageIndex)]="filterData.pageNo"
        [(nzPageSize)]="filterData.pageSize"
        [nzTotal]="totalNo"
        [nzPageSizeOptions]="[5, 10, 15]"
        nzShowSizeChanger
        (nzPageIndexChange)="getVolunteersList()"
        (nzPageSizeChange)="getVolunteersList()"
      ></nz-pagination>
    </div>
  </div>

  <ng-template #loaderContainer>
    <div class="loader">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </ng-template>
</div>

<ng-template #mobileContainer>
  <div id="mobileContainer"></div>
</ng-template>