<div class="container">
  <app-header (onLanguageChange)="onLanguageChange($event)"></app-header>

  <div class="main-body">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
