<div class="item">
  <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
  <p id="number">{{ item.count }}</p>
  <p id="description" *ngIf="currentLanguage=='ro'">{{ item.textRo }}</p>
  <p id="description" *ngIf="currentLanguage=='en'">{{ item.textEn }}</p>
</div>
