.item {
  display: flex;

  .details {
    margin: 1rem 3rem;
    width: -webkit-fill-available !important;

    .top {
      display: flow-root;
      width: 100%;

      #title {
        margin-right: 2rem;
      }

      #date {
        float: right;
        color: grey;
        margin-top: -2rem;
      }
    }

    #description {
      margin-top: 1rem;
    }

    #view-more-link {
      font-size: 18px;
      margin-top: 1rem;
      i {
        margin-right: 0.5rem;
      }
    }

    .author {
      float: right;
      font-weight: 500;
      white-space: pre-wrap;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .image {
    img {
      width: 10rem;
      height: 12rem;
    }
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 415px) {
  #description {
    margin-bottom: 3rem;
  }

  .item{
    display: flow-root;
  }
}
