<div class="item" *ngIf="article">
  <div class="details">
    <div class="top">
      <h2 id="title">{{ article?.title }}</h2>
      <span id="date">{{ article.dateOfUpload | date: "dd.MM.yyyy" }}</span>
    </div>

    <p id="description">{{ article?.description }}</p>
    <a id="view-more-link" (click)="openViewMode.emit()">
      <i nz-icon nzType="caret-right" nzTheme="outline"></i
      >{{ "common.more" | translate }}
    </a>

    <div class="author" *ngIf="article.collaborator?.labelsId">
      <div class="item">
        <span *ngFor="let label of article.collaborator?.labelsId">
          {{ getLabelNameById(label) }}
        </span>
        <span>
          {{ article.collaborator?.firstName }}
          {{ article.collaborator?.lastName }}
        </span>
      </div>
      <div class="item">
        <span>
          {{ article.collaborator?.function }}
        </span>
        <span>
          {{ getFacultyNameById(article.collaborator?.facultyId) }}
        </span>
      </div>
    </div>
  </div>
</div>
