<div class="footer" nz-row>
  <div nz-col nzSpan="12">
    <div class="subscription" *ngIf="isOnViewMode()">
      <label>{{ "footer.email-label" | translate }}</label>
      <nz-input-group
        nzSearch
        [nzSuffix]="suffixCleanButton"
        [nzPrefix]="prefixIcon"
      >
        <input
          nz-input
          id="input-search"
          [(ngModel)]="subscribeEmail"
          type="text"
          placeholder="{{ 'footer.email-placeholder' | translate }}"
          (keydown.enter)="subscribe()"
        />
      </nz-input-group>
    </div>
  </div>

  <div nz-col [nzSpan]="isOnViewMode()? 12: 24" [ngStyle]="{'text-align': isOnViewMode()? 'end': 'center'}">
    <div class="icons">
      <a href="https://www.facebook.com/unitbv/" target="_blank">
        <i
          nz-icon
          nzType="facebook"
          nzTheme="outline"
          nzTooltipTitle="Facebook"
          nzTooltipPlacement="top"
          nz-button
          nz-tooltip
        ></i>
      </a>

      <a
        href="https://www.instagram.com/universitateatransilvania/"
        target="_blank"
      >
        <i
          nz-icon
          nzType="instagram"
          nzTheme="outline"
          nzTooltipTitle="Instagram"
          nzTooltipPlacement="top"
          nz-button
          nz-tooltip
        ></i>
      </a>

      <a
        href="https://www.youtube.com/channel/UC5PbsYmTh2kJuK9G9-GJfZQ"
        target="_blank"
      >
        <i
          nz-icon
          nzType="youtube"
          nzTheme="outline"
          nzTooltipTitle="YouTube"
          nzTooltipPlacement="top"
          nz-button
          nz-tooltip
        ></i>
      </a>

      <a
        href="https://www.linkedin.com/school/universitatea-transilvania-din-bra%C8%99ov/?originalSubdomain=ro"
        target="_blank"
      >
        <i
          nz-icon
          nzType="linkedin"
          nzTheme="outline"
          nzTooltipTitle="Linkedin"
          nzTooltipPlacement="top"
          nz-button
          nz-tooltip
        ></i>
      </a>
    </div>
  </div>

  <!-- <div nz-col nzSpan="8"></div> -->
</div>

<ng-template #prefixIcon><i nz-icon nzType="search"></i></ng-template>

<ng-template #suffixCleanButton>
  <button
    id="subscribe-btn"
    nz-button
    nzType="primary"
    nzSearch
    (click)="subscribe()"
  >
    {{ "footer.subscribe" | translate }}
  </button>
</ng-template>
