.footer {
  padding: 0 3rem;
  height: 8rem;
  display: flex;
  border-top: 2px solid #1d9d73;
  align-items: center;

  .ant-col-8 {
    text-align: center;
  }

  .logo {
    margin: auto -7rem auto 7rem;
    img {
      margin-right: 0.5rem;
    }
  }

  a {
    color: black !important;
  }

  .icons {
    i {
      margin: 0 1rem;
      font-size: 20px;
    }
  }
}

.subscription {
  display: grid;
  font-size: 16px;
  label {
    margin: 0.5rem;
    color: #0f5f45;
    width: fit-content;
  }
  .ant-input-search-enter-button.ant-input-affix-wrapper {
    border-right: 1px solid #d9d9d9;
    border-radius: 15px;
    width: 20vw;
    &:hover,
    &:focus {
      border-color: #1d9d73 !important;
      box-shadow: 0 0 0 2px rgb(29 157 115 / 20%) !important;
    }
  }
}

#subscribe-btn {
  border-radius: 18px;
  margin: -0.7rem;
}

@media only screen and (max-width: 415px) {
  .footer {
    display: block;

    .icons {
      margin-right: 25%;
    }

    .ant-col-12 {
      max-width: 100%;
      margin-top: 1rem;
    }

    nz-input-group {
      width: 90% !important;
    }
  }
}
