<h3>Article Details</h3>
<hr />

<div class="details" *ngIf="article">
  <div class="select-details">
    <div class="item">
      <label>Title:<span class="redLabel">*</span></label>
      <input
        id="title"
        nz-input
        placeholder="Title"
        [(ngModel)]="article.title"
      />
    </div>

    <div id="author" class="item" *ngIf="collaboratorsList">
      <label>Author:<span class="redLabel">*</span></label>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Author"
        [(ngModel)]="article.collaboratorId"
        (ngModelChange)="getCollaboratorDetails(article.collaboratorId)"
      >
        <nz-option
          *ngFor="let collaborator of collaboratorsList"
          [nzLabel]="collaborator.firstName + ' ' + collaborator.lastName"
          [nzValue]="collaborator.id"
        ></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="select-details" *ngIf="article.collaborator">
    <div class="item">
      <label>Author labels:<span class="redLabel">*</span></label>
      <nz-select
        disabled
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Author labels:"
        nzMode="multiple"
        [(ngModel)]="article.collaborator.labelsId"
      >
        <nz-option
          *ngFor="let label of labelsList"
          [nzLabel]="label.name"
          [nzValue]="label.id"
        ></nz-option>
      </nz-select>
    </div>

    <div class="item">
      <label>Function:<span class="redLabel">*</span></label>
      <input
        nz-input
        placeholder="Function"
        disabled
        [(ngModel)]="article.collaborator.function"
      />
    </div>

    <div class="item">
      <label>Faculty:<span class="redLabel">*</span></label>
      <nz-select
        disabled
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Faculty:"
        [(ngModel)]="article.collaborator.facultyId"
      >
        <nz-option
          *ngFor="let faculty of facultiesList"
          [nzLabel]="faculty.name"
          [nzValue]="faculty.id"
        ></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="select-details">
    <div class="item">
      <label>Special section:<span class="redLabel">*</span></label>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Special section"
        [(ngModel)]="article.specialSection"
      >
        <nz-option nzLabel="Succesful alumni" nzValue="alumni"></nz-option>
        <nz-option
          nzLabel="Succesful graduates"
          nzValue="graduates"
        ></nz-option>
        <nz-option
          nzLabel="Teachers we are proud of"
          nzValue="teachers"
        ></nz-option>
        <nz-option nzLabel="Others" nzValue="others"></nz-option>
      </nz-select>
    </div>

    <div class="item">
      <label>Article date:<span class="redLabel">*</span></label>
      <nz-date-picker
        [(ngModel)]="article.dateOfUpload"
        [nzDisabledDate]="disabledDate"
      ></nz-date-picker>
    </div>
  </div>

  <div class="item">
    <label>Short description:<span class="redLabel">*</span></label>
    <textarea
      rows="4"
      nz-input
      [(ngModel)]="article.description"
      placeholder="Insert short description "
    ></textarea>
  </div>
</div>

<h3>Insert text or image</h3>
<hr />
<div
  class="add-containers"
  *ngFor="let item of article?.articleItemsDTO; let index = index"
>
  <!-- The image template  -->
  <nz-card
    id="image-card"
    style="width: 100%"
    nzType="inner"
    nzTitle="Add Image"
    [nzExtra]="deleteBtn"
    *ngIf="item.type == 'photo'"
  >
    <input
      nz-input
      placeholder="Insert image URL: "
      [(ngModel)]="item.contentImage"
    />
    <img
      *ngIf="item.contentImage"
      nz-image
      width="200px"
      [nzSrc]="item.contentImage"
      nzFallback="../../../../../../assets/images/no-img.png"
      alt=""
    />
  </nz-card>

  <!-- The text template  -->
  <nz-card
    style="width: 100%"
    nzType="inner"
    nzTitle="Add Text"
    [nzExtra]="deleteBtn"
    *ngIf="item.type == 'text'"
  >
    <textarea
      rows="4"
      nz-input
      [(ngModel)]="item.contentText"
      placeholder="Insert content: "
    ></textarea>
  </nz-card>

  <!-- The text-image template  -->
  <nz-card
    style="width: 100%"
    nzType="inner"
    nzTitle="Add Text with Image at left"
    [nzExtra]="deleteBtn"
    *ngIf="item.type == 'photo-text'"
  >
    <div id="image1">
      <input
        class="image-input"
        nz-input
        placeholder="Insert image URL: "
        [(ngModel)]="item.contentImage"
      />
      <img
        *ngIf="item.contentImage"
        nz-image
        width="200px"
        [nzSrc]="item.contentImage"
        nzFallback="../../../../../../assets/images/no-img.png"
        alt=""
      />
    </div>
    <textarea
      rows="4"
      nz-input
      [(ngModel)]="item.contentText"
      placeholder="Insert content: "
    ></textarea>
  </nz-card>

  <nz-card
    style="width: 100%"
    nzType="inner"
    nzTitle="Add Text with Image at right"
    [nzExtra]="deleteBtn"
    *ngIf="item.type == 'text-photo'"
  >
    <textarea
      rows="4"
      nz-input
      [(ngModel)]="item.contentText"
      placeholder="Insert content: "
    ></textarea>
    <div id="image2">
      <input
        class="image-input"
        nz-input
        placeholder="Insert image URL: "
        [(ngModel)]="item.contentImage"
      />
      <img
        *ngIf="item.contentImage"
        nz-image
        width="200px"
        [nzSrc]="item.contentImage"
        nzFallback="../../../../../../assets/images/no-img.png"
        alt=""
      />
    </div>
  </nz-card>

  <ng-template #deleteBtn>
    <a (click)="deleteItem(index)">Delete</a>
  </ng-template>
</div>

<div class="buttons">
  <button nz-button nzType="default" (click)="addImage()">Add Image</button>
  <button nz-button nzType="default" (click)="addText()">Add Text</button>
  <button nz-button nzType="default" (click)="addTextImageLeft()">
    Add Text with Image at left
  </button>
  <button nz-button nzType="default" (click)="addTextImageRight()">
    Add Text with Image at right
  </button>
</div>

<ng-template #deleteBtn>
  <a>Delete</a>
</ng-template>
