hr{
    margin-bottom: 1rem;
}

.details {
  margin-bottom: 3rem;

  #title{
    width: 46vw;
  }

  .item {
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: grid;
  }

  .select-details {
    display: flex;
    input {
      width: 22vw;
    }
  }
}


nz-select {
  width: 22vw;
  nz-option-item {
    width: 22vw !important;
  }
}

nz-date-picker{
  width: 22vw;
}

.buttons {
  button {
    margin-left: 2rem;
  }

  .ant-btn:focus, .ant-btn:hover {
    color: #1d9d73 !important;
    border-color: #1d9d73 !important;
  }
}

nz-card{
    margin-bottom: 1rem;
    ::ng-deep .ant-card-body{
        display: flex !important;
    }

    #image2{
        margin-left: 2rem;
    }

    #image1{
        margin-right: 2rem;
       
    }

    input{
        height: fit-content;
        margin-bottom: 1rem;
    }
}

#image-card{
    ::ng-deep .ant-card-body{
        display: grid !important;
    }
}

img{
    border: 1px solid #D9D9D9;
}

.ant-input:disabled {
  color: rgba(0, 0, 0, 0.85) !important;
}

::ng-deep .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  color: rgba(0, 0, 0, 0.85) !important;
}

::ng-deep .ant-select-disabled.ant-select-multiple .ant-select-selection-item{
  color: rgba(0, 0, 0, 0.85) !important;
}