<nz-table [nzData]="listOfAdmins" [nzFrontPagination]="false" [nzLoading]="loader">
    <thead>
      <tr>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger
            [(nzVisible)]="isSearchVisible"
            [nzActive]="filterData.name.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Email</th>
        <th>Phone Name</th>
        <th>Date of Join</th>
        <th>Role</th>
        <th *ngIf="isSuperAdmin()">Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let admin of listOfAdmins">
        <td> {{admin.firstName}} {{admin.lastName}}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.phoneNumber }}</td>
        <td>{{ admin.dateOfJoin | date: "dd.MM.yyyy HH:mm" }}</td>
        <td><nz-tag>{{ admin.role }}</nz-tag></td>
        <td *ngIf="isSuperAdmin()">
          <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Delete admin"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this admin?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteAdminById(admin.id)"
          *ngIf="admin.role!='Super Admin' || getCurrentUser().id!=admin.id"
        ></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  <nz-pagination
    id="pagination"
    [(nzPageIndex)]="filterData.pageNo"
    [(nzPageSize)]="filterData.pageSize"
    [nzTotal]="totalNo"
    [nzPageSizeOptions]="[5, 10, 15]"
    nzShowSizeChanger
    (nzPageIndexChange)="getAdmins()"
    (nzPageSizeChange)="getAdmins()"
  ></nz-pagination>
  
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search by name"
          [(ngModel)]="filterData.name"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="searchByName()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  