<nz-result nzStatus="404" nzTitle="404" nzSubTitle="{{ 'common.page-not-fount' | translate }}">
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)="redirectToHomepage()">{{ 'common.back-home' | translate }}</button>
    </div>
  </nz-result>
