.container {
  background-color: #DEE0D7;
  
  .top {
    img {
      width: 100%;
    }
    h1 {
      position: relative;
      text-align: -webkit-center !important;
      margin-top: -6rem;
      left: 50%;
      font-size: 38px;
      transform: translate(-50%, -50%);
    }
  }

  .ant-pagination {
    margin-right: 1rem;
  }

  .content {
    padding: 2rem 5rem 4rem;
    background-color: #e0e1d9;

    .article {
      background-color: white;
      margin: 1rem;
      border: 1px solid #afafaf;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}

.ant-input-group-wrapper {
  width: 30%;
  float: right;
  margin-right: 6rem;
}

.loader {
  text-align: center;
  margin-bottom: 10rem;
  padding: 8rem;
  margin: 20px 0;
  background-color: #e0e1d9;
}

.ant-empty {
  margin-top: 3rem !important;
}

@media only screen and (max-width: 415px) {
  .content {
    padding: 2rem 0rem !important;
  }

  h1{
    font-size: 30px !important;
    margin-top: -3rem !important;
    margin-right: 1rem;
  }

  ::ng-deep .ant-modal {
    width: 90% !important;
  }

  nz-input-group{
    width: 83% !important;
    margin-right: 2rem !important;
  }

  #mobileContainer{
    height: 40vw;
  }
}
