<nz-table [nzData]="listOfSubscribers" [nzFrontPagination]="false" [nzLoading]="loader">
  <thead>
    <tr>
      <th nzCustomFilter>
        Email
        <nz-filter-trigger
          [(nzVisible)]="isSearchVisible"
          [nzActive]="filterData.email.length > 0"
          [nzDropdownMenu]="menu"
        >
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>

      <th>Date of Join</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let subscriber of listOfSubscribers">
      <td>{{ subscriber.email }}</td>
      <td>{{ subscriber.dateOfJoin | date: "dd.MM.yyyy HH:mm" }}</td>
      <td>
        <i
        nz-icon
        nzType="delete"
        nzTheme="outline"
        nz-tooltip
        nzTooltipTitle="Delete subscriber"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this subscriber?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="deleteSubscriberById(subscriber.id)"
      ></i>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-pagination
  id="pagination"
  [(nzPageIndex)]="filterData.pageNo"
  [(nzPageSize)]="filterData.pageSize"
  [nzTotal]="totalNo"
  [nzPageSizeOptions]="[5, 10, 15]"
  nzShowSizeChanger
  (nzPageIndexChange)="getListOfSubscribers()"
  (nzPageSizeChange)="getListOfSubscribers()"
></nz-pagination>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search by email"
        [(ngModel)]="filterData.email"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByEmail()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
