<div class="container">
  <div class="top">
    
    <img src="../../../../../assets/images/mainbottomBg-small.jpg"  *ngIf="innerWidth > 415;else mobileContainer"/>
    <h1>
      {{ "header.current-number-tab" | translate }}
    </h1>
  </div>

  <div class="content" *ngIf="loading == false; else loaderContainer">
    <div class="switch">
      <nz-radio-group [(ngModel)]="showOption" nzButtonStyle="solid">
        <label nz-radio-button nzValue="card">
          <i
            nz-icon
            nzType="credit-card"
            nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{ 'newsletter.viewCard' | translate }}"
          ></i>
        </label>
        <label nz-radio-button nzValue="pdf" *ngIf="innerWidth > 415">
          <i
            nz-icon
            nzType="file-pdf"
            nzTheme="outline"
            nz-tooltip
            nzTooltipTitle="{{ 'newsletter.viewPdf' | translate }}"
          ></i>
        </label>
      </nz-radio-group>
    </div>

    <div class="content" *ngIf="newsletter; else noResults">
      <pdf-viewer
        *ngIf="showOption == 'pdf' && innerWidth > 415"
        [src]="newsletter.url"
        [render-text]="true"
        (error)="onError($event)"
        style="display: block"
      ></pdf-viewer>

      <div class="item" *ngIf="showOption == 'card'">
        <app-news-item [item]="newsletter"></app-news-item>
      </div>

      <div class="error item" *ngIf="error && showOption == 'pdf'">
        <nz-alert
          nzType="error"
          nzMessage="{{ 'newsletter.error' | translate }}"
          nzDescription="{{ 'newsletter.errorDescription' | translate }}"
        >
        </nz-alert>
      </div>
    </div>
  </div>
</div>

<ng-template #loaderContainer>
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</ng-template>

<ng-template #noResults>
  <nz-empty [nzNotFoundContent]="contentEmpty"></nz-empty>
</ng-template>

<ng-template #contentEmpty>
  <span> {{ "common.noData" | translate }} </span>
</ng-template>

<ng-template #mobileContainer>
  <div id="mobileContainer"></div>
</ng-template>