.container {
  height: 140vh !important;
    background-color: #E2E3DB;

  .top {
    img {
      width: 100%;
    }
    h1 {
      position: relative;
      margin-top: -6rem;
      left: 50%;
      text-align: -webkit-center !important;
      font-size: 38px;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    margin-top: -7.5rem;
    padding: 2rem 5rem;
    background-color: #e0e1d9;
  }
}

.item {
  background-color: white;
  width: 78vw;
  margin-top: 3rem;
  margin-left: 3rem;
  height: fit-content;
  border: 1px solid #afafaf;
  padding: 1.5rem;
}

.switch {
  width: fit-content;
  display: table-caption;
  margin-top: 7.6rem;
  margin-left: 3rem;

  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #1d9d734f;
  }

  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: #1d9d73 !important;
  }
}

::ng-deep .ng2-pdf-viewer-container {
  height: 100vh !important;
  width: fit-content !important;
  margin-left: 15% !important;
}

.loader {
  text-align: center;
  margin-bottom: 10rem;
  padding: 8rem;
  margin: 20px 0;
}

.ant-empty {
  padding-top: 7rem;
}


@media only screen and (max-width: 415px){
  .content{
    padding: 2rem 0rem !important;
    margin-top: -3.5rem !important;
  }

  .switch{
    margin-top: -2.4rem !important;
  }

  #mobileContainer{
    height: 40vw;
    background-color: #DEE0D7;
  }
}
