<nz-table [nzData]="listOfSuggestions" [nzFrontPagination]="false" [nzLoading]="loader">
    <thead>
      <tr>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger
            [(nzVisible)]="isSearchVisible"
            [nzActive]="filterData.name.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Email</th>
        <th>Subject</th>
        <th>Date of Message</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let suggestion of listOfSuggestions">
        <td> {{suggestion.firstName}} {{suggestion.lastName}}</td>
        <td>{{ suggestion.email }}</td>
        <td>{{ suggestion.subject }}</td>
        <td>{{ suggestion.dateOfMessage | date: "dd.MM.yyyy HH:mm" }}</td>
        <td>
            <div class="description">
              {{ suggestion.description }}
            </div>
          </td>
        <td>
          <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-tooltip
          nzTooltipTitle="Delete suggestion"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this suggestion?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteSuggestionById(suggestion.id)"
        ></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  <nz-pagination
    id="pagination"
    [(nzPageIndex)]="filterData.pageNo"
    [(nzPageSize)]="filterData.pageSize"
    [nzTotal]="totalNo"
    [nzPageSizeOptions]="[5, 10, 15]"
    nzShowSizeChanger
    (nzPageIndexChange)="getListOfSuggestions()"
    (nzPageSizeChange)="getListOfSuggestions()"
  ></nz-pagination>
  
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search by name"
          [(ngModel)]="filterData.name"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="searchByName()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  