i {
  font-size: 16px;

  &:hover {
    color: #1d9d73;
    cursor: pointer;
  }
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.description {
  overflow: auto;
  max-height: 7rem;
  max-width: 20rem;
}

.ant-table-wrapper{
  margin-bottom: 3rem;
}

.ant-pagination{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}