<div class="container">
  <div class="details">
    <h2>{{ "contact.details.message" | translate }}</h2>

    <div class="item address">
      <h3>{{ "contact.details.address-title" | translate }}:</h3>
      <i nz-icon nzType="home" nzTheme="outline"></i>
      {{ "contact.details.address" | translate }}
    </div>
  
    <div class="item phone">
      <h3>{{ "contact.details.phone-title" | translate }}:</h3>
      <i nz-icon nzType="phone" nzTheme="outline"></i>+40-(268) 41.30.00  <br>
      <i nz-icon nzType="phone" nzTheme="outline"></i>+40-(268) 41.05.25
    </div>
  
    <div class="item email">
      <h3>{{ "contact.details.email-title" | translate }}:</h3>
      <i nz-icon nzType="mail" nzTheme="outline"></i>
      <a href="mailto:rectorat@unitbv.ro">rectorat@unitbv.ro</a>
    </div>  
  </div>

  <div class="unsubscribe">
    <h2>{{ "contact.unsubscribe-message" | translate }}</h2>
    <nz-input-group
      nzSearch
      [nzSuffix]="suffixCleanButton"
    >
      <input
        nz-input
        id="input-search"
        [(ngModel)]="unsubscribeEmail"
        type="text"
        placeholder="{{ 'footer.email-placeholder' | translate }}"
        (keydown.enter)="unsubscribe()"
      />
    </nz-input-group>
  </div>

</div>

<ng-template #suffixCleanButton>
  <button
    id="unsubscribe-btn"
    nz-button
    nzType="primary"
    nzSearch
    (click)="unsubscribe()"
  >
    {{ "contact.unsubscribe" | translate }}
  </button>
</ng-template>