.container {
  margin: 3rem 3rem 5rem;

  i{
      margin-right: 0.5rem;
  }

  h2{
      margin-bottom: 3rem;
  }

  .item{
    margin-left: 2rem;
    margin-top: 2rem;
  }
  h3 {
    margin-left: -2rem;
  }
}

.unsubscribe{
  margin-top: 5rem;
  .ant-input-search-enter-button.ant-input-affix-wrapper {
    border-right: 1px solid #d9d9d9;
    border-radius: 15px;
    width: 30vw;
    &:hover,
    &:focus {
      border-color: #1d9d73 !important;
      box-shadow: 0 0 0 2px rgb(29 157 115 / 20%) !important;
    }
  }

  #unsubscribe-btn {
    border-radius: 18px;
    margin: -0.7rem;
  }

  h2{
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 415px){
  .container{
      margin: 2rem 2rem 5rem;
  }

  nz-input-group {
    width: 100% !important;
  }
}