<div class="details" *ngIf="newsletter">
  <h3>Newsletter Details</h3>
  <hr />

  <div class="editionDate">
    <div class="item">
      <label>Edition Date:<span class="redLabel">*</span></label>
      <nz-date-picker
        nzMode="month"
        [(ngModel)]="newsletter.editionDate"
      ></nz-date-picker>
    </div>

    <div class="item">
      <label>Date of Upload:<span class="redLabel">*</span></label>
      <nz-date-picker
        [(ngModel)]="newsletter.dateOfUpload"
        [nzDisabledDate]="disabledDate"
      ></nz-date-picker>
    </div>
  </div>

  <div class="item">
    <label>Newsletter Url:<span class="redLabel">*</span></label>
    <div class="url">
      <input
        nz-input
        placeholder="Newsletter Url:"
        [(ngModel)]="newsletter.url"
      />
      <a href="newsletter.url" target="_blank" *ngIf="newsletter.url"
        >Check Url</a
      >
    </div>
  </div>

  <div class="item">
    <label>Description:<span class="redLabel">*</span></label>
    <textarea
      rows="4"
      nz-input
      [(ngModel)]="newsletter.description"
      placeholder="Insert short description "
    ></textarea>
  </div>
</div>
