.editionDate {
  display: flex;
  margin-bottom: 1rem;
}

.item {
  margin-right: 2rem;
  margin-bottom: 1rem;
  display: grid;
  label {
    margin-right: 0.5rem;
  }
}

.url {
  display: flex;
  a {
    width: 6rem;
    margin-left: 2rem;
  }
}
