<div class="container">
  <img src="../../../../assets/images/mainbottomBg-small.jpg"  *ngIf="innerWidth > 415;else mobileContainer"/>
  <h1>
    {{ "contact.title" | translate }}
  </h1>

  <div nz-row>
    <div nz-col nzSpan="10">
      <app-contact-info> </app-contact-info>
    </div>
    <div nz-col nzSpan="10">
      <app-contact-form> </app-contact-form>
    </div>
  </div>
</div>

<ng-template #mobileContainer>
  <div id="mobileContainer"></div>
</ng-template>