.container {
  width: 100%;
  height: 130vh;
  background-color: #ddded6;

  img {
    width: 100%;
  }

  h1 {
    position: relative;
    text-align: -webkit-center !important;
    margin-top: -6rem;
    left: 50%;
    font-size: 38px;
    transform: translate(-50%, -50%);
  }

  .ant-row {
    position: relative;
    width: 100%;
    justify-content: center;

    .ant-col {
      background-color: white;
      margin: 1rem;
      border: 1px solid #afafaf;
    }
  }
}

@media only screen and (max-width: 415px){
  .ant-row{
    display: block !important;
  }

  .ant-col-10{
    max-width: initial;
  }

  .container{
    height: 225vh !important;
  }

  #mobileContainer{
    height: 40vw;
    background-color: #DEE0D7;
  }
}
