/* You can add global styles to this file, and also import other style files */

$flag-icon-css-path: "~flag-icon-css/flags" !default;
@import "~flag-icon-css/sass/flag-icon";

a {
  color: #1d9d73;
  &:hover {
    color: #1d9d73;
    text-shadow: 2px 2px 5px #6cd6b3;
  }
}

.ant-btn-primary {
  background-color: #1d9d73;
  border-color: #1d9d73;
  &:hover {
    background-color: #18815e;
  }
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #1d9d73 !important;
}

.ant-table-filter-trigger.active {
  color: #1d9d73 !important;
}

.ant-pagination-item-active {
  border-color: #1d9d73 !important;
}

.ant-pagination-item-active a {
  color: #1d9d73 !important;
}

.ant-pagination-options-size-changer.ant-select :hover {
  color: #1d9d73 !important;
}

.ant-select :hover {
  border-color: #1d9d73 !important;
}

.ant-input:hover,
.ant-picker:hover,
.ant-picker-focused {
  border-color: #1d9d73 !important;
}

.ant-card-type-inner .ant-card-head {
  background: #c5e6db73 !important;
}

.ant-btn-sm:hover,
.ant-btn-sm:focus {
  color: #1d9d73;
  border-color: #1d9d73;
}

.ant-btn-primary:hover, .ant-btn-primary:focus{
  color: white;
  border-color: #1d9d73;
  background: #1d9d73;
}

i:hover {
  color: #1d9d73;
}

.ant-switch-checked {
  background-color: #1d9d73;
}

.ant-modal-footer {
  .close-btn:hover {
    color: #1d9d73 !important;
    border-color: #1d9d73 !important;
  }
}

.ant-empty{
  height: 40vh;
}

nz-pagination {
  float: right;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.redLabel{
  color: red;
}

// Scrollbar design
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #acacac;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 126, 126);
}
