<div class="newUser" *ngIf="isNew">
  <nz-alert
    nzType="warning"
    nzMessage="Welcome! For data protection, we recommend you to change your password."
  ></nz-alert>
</div>

<div class="content">
    <h3 *ngIf="!isNew">Change Password:</h3>

    <div class="item">
        <label>Password:</label>
        <nz-input-group [nzSuffix]="suffixEye1">
         
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Input password"
            [(ngModel)]="password"
          />
        </nz-input-group>
    </div>
    
    <div class="item">
        <label>Confirm password:</label>
        <nz-input-group [nzSuffix]="suffixEye2">
         
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Confirm password"
            [(ngModel)]="confirmPassword"
          />
        </nz-input-group>
    </div>

 <span *ngIf="!isTheSamePassword()">The passwords are not the same!</span>

  <button
    id="changePassword-btn"
    nz-button
    nzType="primary"
    (click)="changePassword()"
    [disabled]="!isTheSamePassword() || password == ''"
  >
    Change Password
  </button>
</div>

<ng-template #suffixEye1>
  <i
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
  ></i>
</ng-template>

<ng-template #suffixEye2>
  <i
    nz-icon
    [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="confirmPasswordVisible = !confirmPasswordVisible"
  ></i>
</ng-template>
