.item {
  display: flex;

  .details {
    margin: 1rem 3rem;

    .name {
      display: flex;
      align-items: center;
      .labels{
        display: contents;
      }
      h2 {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        margin-bottom: 0 !important;
      }
    }

    .function{
      margin-left: 0.3rem;
    }

    #description {
      margin-top: 1rem;
    }
    #view-articles-link {
      font-size: 18px;
      i {
        margin-right: 1rem;
      }
    }
  }

  .image {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 415px){
  .image {
    img{
      height: 100px !important;
    }
  }

  .details{
    margin: 1rem 1rem !important;
  }

  h2{
    display: contents;
  }
 
}