<div class="item" *ngIf="collaborator">
  <div class="image">
    <img
      nz-image
      height="200px"
      [nzSrc]="collaborator.photoUrl"
      nzFallback="../../../../../../assets/images/user-default.png"
      alt=""
    />
  </div>

  <div class="details">
    <div class="name">
      <div class="labels">
        <h2 *ngFor="let label of collaborator.labelsId">
          {{ getLabelName(label) }}
        </h2>
      </div>
      <h2>{{ collaborator?.firstName }} {{ collaborator?.lastName }}</h2>
    </div>

    <div class="function">
      <h4>{{collaborator.function}} {{getFacultyName(collaborator.facultyId)}}</h4>
    </div>

    <p id="description">{{ collaborator?.description }}</p>
    <a id="view-articles-link" (click)="showModal(collaborator)">
      <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
      {{ "special-sections.view-articles" | translate }}
    </a>

    <nz-modal
      nzWidth="50%"
      [(nzVisible)]="isModalVisible"
      nzTitle="Articles {{ collaborator.firstName }} {{
        collaborator.lastName
      }}"
      (nzOnCancel)="handleCloseArticlesModal()"
      [nzFooter]="modalFooter"
    >
      <app-contributor-articles
      [collaborator]="openedCollaborator"
      ></app-contributor-articles>
    </nz-modal>
  </div>
</div>

<ng-template #modalFooter>
  <button
    class="close-btn"
    nz-button
    nzType="default"
    (click)="handleCloseArticlesModal()"
  >
    Close
  </button>
</ng-template>
